.container
  - @collections.each do |collection|
    .well.collection{id: "collection-#{collection.id}"}
      %h1.pull-left= collection.title
      .well.pull-right
        %ul.nav
          %li= link_to t('collections.index.new_monument'), [collection, :monuments], method: :post
          %li= link_to t('collections.index.delete'), collection, remote: true, method: :delete, data: {confirm: t('collections.index.delete_confirm', title: collection.title)}
      .clearfix
      %table.table
        %thead
          %tr
            %th= t('monuments.form.photo')
            %th= t('monuments.form.name')
            %th= t('monuments.form.description')
            %th= t('monuments.actions')
        %tbody
          - collection.confirmed_monuments.each do |monument|
            %tr
              %td.thumbnail= image_tag(monument.photos.first.image_url)
              %td= monument.name
              %td= monument.description
              %td
                %ul.nav
                  %li= link_to t('monuments.edit_link'), [:edit, collection, monument]

  .well#new-collection
    %h1= t('collections.index.new.header')
    = form_for Collection.new, remote: true do |f|
      .errors
      .form-group
        = f.label :title, t('collections.index.new.title')
        = f.text_field :title, class: 'form-control'
      = f.submit t('collections.index.new.submit')
