.container
  %h1= t('users.new.header')

  = form_for @user do |f|
    - if @user.errors.full_messages.any?
      - @user.errors.full_messages.each do |message|
        %p.bg-danger= message

    .form-group
      = f.label :login, t('users.new.login')
      = f.text_field :login, class: 'form-control'
    .form-group
      = f.label :password, t('users.new.password')
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation, t('users.new.password_confirmation')
      = f.password_field :password_confirmation, class: 'form-control'
    = f.submit t('users.new.submit')
