.container
  .well
    %h1= t('monuments.form.header', step: t("monuments.form.step.#{step}"))
    = yield :beyond_form
    = form_for monument, url: wizard_path, method: :put, multipart: true do |f|
      - if monument.errors.full_messages.any?
        - monument.errors.full_messages.each do |message|
          %p.bg-danger= message
      = yield f
      = f.submit t('monuments.form.continue')
      - if @has_previous_step
        = link_to t('monuments.form.back'), previous_wizard_path
