- content_for :beyond_form do
  = direct_upload_form_for monument.photos.build.image_uploader(self) do |upf|
    = upf.file_field :image
    = upf.submit
= render layout: 'form' do |f|
  = render 'monument_steps/fields/photos', f: f
