- content_for :beyond_form do



  = direct_upload_form_for @photo_uploader do |upf|
    = upf.file_field :image
    = upf.submit
= render layout: 'form' do |f|
  %table.table
    %thead
      %tr
        %th Preview
        %th Details
        %th Actions
    %tbody
      - monument.photos.each do |photo|
        %tr.photo{id: "photo-#{photo.id}"}
          %td.thumbnail{width: '200px'}= image_tag(photo.image_url)
          %td
            = f.fields_for :photos, photo do |p|
              .form-group
                = p.label :title
                = p.text_field :title, class: 'form-control'
              .form-group
                = p.label :description
                = p.text_area :description, class: 'form-control'
          %td
            %ul.nav
              %li= link_to 'Delete', [monument.collection, monument, photo], method: :delete, remote: true, data: {confirm: 'Are you sure?'}
