%table.table
  %thead
    %tr
      %th Preview
      %th Details
      %th Actions
  %tbody
    - monument.photos.select(&:persisted?).each do |photo|
      %tr.photo{id: "photo-#{photo.id}"}
        %td.thumbnail{width: '200px'}= image_tag(photo.image_url)
        %td
          = f.fields_for :photos, photo do |p|
            .form-group
              = p.label :title
              = p.text_field :title, class: 'form-control'
            .form-group
              = p.label :description
              = p.text_area :description, class: 'form-control'
            .form-group.checkbox
              %label
                = p.check_box :published
                Published
            - if photo.approved?
              %p.text-success Approved
            - else
              - if photo.approved.nil?
                %p.text-warning Waiting for review. Photo must be published to be reviewed
              - else
                %p.text-danger Rejected
        %td
          %ul.nav
            %li= link_to 'Delete', [monument.collection, monument, photo], method: :delete, remote: true, data: {confirm: 'Are you sure?'}